{% extends "base_generic.html" %}
{% block content %}

<!--list of products-->
{% if product_list %}


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for product in product_list %}
            <a href="{{ product.get_absolute_url }}">
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
                                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                                      <title>Placeholder</title>
                                      <span>{{ product.image }}</span>
                                      <rect width="100%" height="100%" fill="#55595c"></rect>
                                      <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ product.image }}</text>
                                    </svg>-->{% if product.photo %}
                        <!--    <img src="{{ product.photo.url }}" class="img-responsive" width="210" height="210">-->
                        <img src="{{ product.photo.url }}" class="featurette-image img-fluid mx-auto" style="display: block; margin-left: auto;  margin-right: auto;width: 100%;">

                        <!--              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_172bba84aad%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_172bba84aad%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.9453125%22%20y%3D%22117.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">-->

                        {% endif %}

                        <div class="card-body" style="text-align: center;">
                            <p class="card-text">
                            <h6>{{ product.brand }}</h6>
                            <a>{{ product.title }}</a><br>
                            Rs: <a>{{ product.price }}</a>

                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


{% else %}
<p>There are no products.</p>

{% endif %}

{% endblock %}